#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 198px;
    height: 198px;
}

.boardSquare {
    border: solid 1px;
    text-align: center;
    font-size: 50px;
}

button {
    margin-top: 5px;
}

#buttonRow {
    width: 198px;
    text-align: center;
}